<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ColorPal - The Ultimate Free Color Palette Generator</title>
    <meta name="description" content="Create stunning color palettes with ColorPal. Upload images and generate color schemes for web design, graphic design, and more. Free and easy-to-use color palette generator from images.">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebApplication",
          "name": "ColorPal",
          "url": "https://www.colorpal.com",
          "description": "Create stunning color palettes from uploaded images. Use ColorPal for web design, branding, and creative projects.",
          "applicationCategory": "Design",
          "operatingSystem": "All",
          "creator": {
            "@type": "Organization",
            "name": "ColorPal"
          }
        }
        </script>
        <link rel="apple-touch-icon" sizes="180x180" href="../static/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="../static/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon/favicon-16x16.png">
        <link rel="manifest" href="../static/favicon/site.webmanifest">
        <link rel="mask-icon" href="../static/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">ColorPal</div>
            <nav>
                <ul>
                    <li><a href="#drop-container">Image To Palette</a></li>
                    <li><a href="#generate-palette-button">Generate Random Palette</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div id="header-filler"></div>
    
    <main>
        <section class="upload-section">
            <div id="drop-container">
                <h1 style="text-align: center;">Create Stunning Color Palettes from Images</h1>
                <p>Upload an image and ColorPal will generate a beautiful color palette for you.</p>
                <div id="drop-area">
                    <form class="my-form">
                        <p>Upload an image using the file dialog or by dragging and dropping onto the dashed region</p>
                        <input type="file" id="fileElem" accept="image/*" onchange="handleFiles(this.files)">
                        <label class="button" for="fileElem" id="file-button">Select files</label>
                    </form>
                </div>
            </div>
            <div id="output">
                <div id="modal-overlay">
                    <h1 id="modal-h1">ColorPal</h1>
                    <p style="color: #fff;">Perfect colors make perfect designs</p>
                    <div id="loading-spinner">
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                        <span class="dot"></span>
                    </div> 
                </div>
                
                <div id="gallery"></div>
                <div id="palette"></div>
            </div>
        </section>

        <section class="random-palette-section">
            <div class="container">
                <h1>Generate a Random color Palette</h1>
                <p>Click the button below to generate a random color palette.</p>
                <div id="random-palette"></div>
                <label class="button" id="generate-palette-button">Generate Palette</button>
            </div>
            <!-- Modal for JSON Output -->
            <div id="json-modal" class="modal">
                <div class="modal-content">
                <span class="close" id="close-modal">&times;</span>
                <h2>Color Palette JSON</h2>
                <textarea id="json-output" readonly></textarea>
                <button id="copy-json" class="button">Copy JSON</button>
                </div>
            </div>
        </section>
    </main>
<!-- External script file -->
<script src="{{ url_for('static', filename='script.js') }}"></script>

<!-- Inline script to define iconUrl -->
<script>
    const iconUrl = "/static/images/clip-line-icon.png";
</script>
</body>
</html>
